.component {
  color: blue;
  font-size: 10px;

  .block__element {
    margin: 10px;
    color: red;

    @include my-mixin(100px);
  }
}

.block__element--modifier {
  color: green;
  width: 100vw;
  height: 50vh;
  float: left;
}


