.component {
  color: blue;
  font-size: 20px;

  .block__element {
    margin: 10px;
    color: red;

    @include my-mixin(120px);
  }

  .block__element--foobar {
    color: green;
    width: 1000px;
  }
}

.block__element--modifier {
  color: green;
  width: 100vw;
  height: 50vh;
  float: left;
}


